.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader {
    color: var(--theme1-100);
    width: 10vw !important;
    height: 10vw !important;
  }

  @media screen and (max-width: 500px) {
    .loader {
      width: 30vw !important;
      height: 30vw !important;
    }
  }
}
