@media screen and (min-width: 500px) {
	header.navbar {
		position: relative;
		top: 0;
		left: 0;

		height: var(--navbar-height-pc);
		width: 100%;

		background-color: var(--theme2-100);
		color: var(--theme3-100);

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;

		box-shadow: 0 0 1vh 0 var(--theme2-100);

		font-size: 2vh;

		z-index: +10;

		div.navbar-itm-ctnr {
			position: relative;
			top: 50%;
			transform: translate(0, -50%);

			display: flex;
			flex-direction: row;
			height: 80%;

			a.navbar-itm,
			span.navbar-itm {
				position: relative;

				margin: 0 0.3vh;
				padding: 0 2.5vh;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				color: var(--theme3-100);
				cursor: pointer;

				border-radius: 0.5vh;

				&:hover {
					background-color: var(--theme3-100);
					color: var(--theme2-100);

					transition-duration: 0.2s;
					transition-timing-function: ease-out;
				}
			}

			span.drpdwn {
				position: relative;

				&:hover {
					div.drpdwn-menu {
						display: flex;
					}
				}

				div.drpdwn-menu {
					position: absolute;

					top: 100%;
					left: 50%;
					transform: translate(-50%, 0);

					background-color: var(--theme2-100);

					flex-direction: column;
					display: none;
					border-radius: 0.65vh;

					a.drpdwn-itm {
						color: var(--theme3-100) !important;

						margin: 0.5vh;
						padding: 1.5vh 2vh;
						border-radius: 0.65vh;

						display: flex;
						flex-wrap: nowrap;
						justify-content: center;
						align-items: center;

						white-space: nowrap;

						&:hover {
							background-color: var(--theme3-100);
							color: var(--theme2-100) !important;
						}
					}
				}
			}
		}

		a.navbar-logo {
			height: 90%;

			img {
				height: 100%;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	header.navbar {
		position: relative;
		width: 100%;
		height: var(--navbar-height-mob);
		background-color: var(--theme2-100);

		a.navbar-logo {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 99%;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 100%;
			}
		}

		div.mob-menu {
			position: absolute;
			top: 50%;
			left: 7.5%;
			transform: translate(-50%, -50%);
			color: var(--theme1-100);
			font-size: 6vw;
		}

		div.navbar-itm-ctnr {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			height: calc(100vh - var(--navbar-height-mob));
			background-color: var(--theme2-100);
			color: var(--theme3-100);
			width: 100%;
			z-index: +10;
			display: flex;
			flex-direction: column;
			align-items: center;
			overflow-y: scroll;
			padding: 10vw 0;
			box-sizing: border-box;

			a.navbar-itm,
			span.drpdwn {
				position: relative;
				margin: 1vw 0;
				padding: 3vw 5vw;
				border-radius: 2vw;
				border: 0.2vw solid var(--theme1-070);
				width: 75%;
				text-align: center;
				box-sizing: border-box;
				color: var(--theme3-100);
			}

			div.drpdwn-menu {
				top: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				margin-top: 2vh;

				a {
					color: var(--theme3-100);
					border: 2px solid var(--theme1-030);
					margin: 0.5vw auto;
					width: 97.5%;
					display: flex;
					padding: 3vh 0;
					justify-content: center;
					align-items: center;
					border-radius: 2vw;
				}
			}
		}
	}
}

@media screen and (min-width: 500px) {
	div.mob-menu {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	div.mob-menu {
		display: block;
	}
}

.drpdwn .fa-chevron-down {
	color: var(--theme1-100) !important;
}
