main.admissions {
  div.heading {
    width: 80%;
    margin: 5vh auto 3vh auto;
    border-bottom: 0.2vh solid var(--theme1-100);

    font-size: 3.5vh;
    text-align: center;
  }

  div.title {
    font-size: 4.5vh !important;
  }

  div.sub-title {
    font-size: 4vh;
    width: 70%;
  }

  div.important-msg {
    font-weight: bold;
    text-align: center;
    width: 60%;
    font-size: 3vh;
    margin: 0 auto 7vh auto;
    border-top: 0.2vh solid var(--theme1-100);
    border-bottom: 0.2vh solid var(--theme1-100);
  }

  a {
    color: rgb(93, 191, 230);
  }

  div.contact-heading {
    font-size: 3vh;
    width: 60%;
  }

  div.contact {
    width: 90%;
    margin: 0 auto 7vh auto;
    display: flex;

    div.contact-details {
      width: 50%;
      text-align: center;
      font-size: 2.4vh;
      div.name {
        font-weight: bold;
      }

      // div.details{

      // }
    }
  }

  div.msg {
    width: 90%;
    margin: 0 auto 7vh auto;
    box-sizing: border-box;
    padding: 2vh 4vh;
    text-align: justify;
    font-size: 2.6vh;
  }

  @media screen and (max-width: 800px) {
    div.heading {
      font-size: 3vh !important;
    }
    div.title {
      font-size: 4vh !important;
    }
    div.msg {
      font-size: 2.2vh !important;
    }
    div.contact-details {
      font-size: 2vh !important;
    }
    div.important-msg {
      font-size: 2.6vh !important;
    }
  }

  @media screen and (max-width: 650px) {
    div.contact-heading {
      width: 80%;
    }
    div.contact {
      flex-direction: column;
      align-items: center;
      width: 80%;
    }
    div.contact-details {
      margin-bottom: 2rem;
      width: 100% !important;
    }
    div.heading {
      font-size: 2.8vh !important;
    }
    div.title {
      font-size: 3.8vh !important;
    }
    div.msg {
      font-size: 2.2vh !important;
    }
    div.important-msg {
      font-size: 2.4vh !important;
    }
  }
}
