@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap');

main#home {
	position: relative;

	div#title {
		font-family: 'Spectral SC', serif;
		width: 80%;
		text-align: center;
		margin: 5vh auto 0 auto;
		padding: 1vh 0 5vh 0;
		box-sizing: border-box;
		border-bottom: 0.2vh solid var(--theme2-100);

		h1 {
			font-size: 5.5vh;
		}

		h2 {
			font-size: 3.5vh;
		}
	}

	div.about-dept {
		position: relative;
		padding-top: 7.5vh;
		width: 100%;
		box-sizing: border-box;

		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 3vh 0;

		div.heading {
			min-width: 80%;
			text-align: center;
			font-size: 4vh;
			border-bottom: 0.2vh solid var(--theme1-100);
			margin: 0 auto;
		}

		@media screen and (max-width: 500px) {
			div.heading {
				width: 90%;
				text-align: center;
				font-size: 4vh;
				border-bottom: 0.2vh solid var(--theme1-100);
				margin: 0 auto;
			}
		}

		div.about-msg {
			min-width: 90%;
			max-width: 90%;
			padding: 5vh 2vh;
			text-align: justify;
			font-size: 2.7vh;
			margin: 0 auto;
		}
	}

	div.latest {
		display: flex;

		div.updates,
		div.events {
			min-width: 50%;
			max-width: 50%;
			padding: 4vh;
			box-sizing: border-box;
			font-size: 2.3vh;
			text-align: justify;
		}

		i {
			color: var(--theme1-100);
		}

		a {
			&:hover {
				color: var(--theme1-100);

				transition : {
					duration: 0.1s;
					timing-function: ease-in-out;
				}
			}
		}

		div.heading {
			min-width: 10%;
			text-align: center;
			font-size: 3.2vh;
			border-bottom: 0.2vh solid var(--theme1-100);
			margin: 1vh auto 2vh auto;
		}
	}

	@media screen and (max-width: 500px) {
		div.latest {
			flex-direction: column;

			div.updates,
			div.events {
				min-width: 97.5%;
				max-width: 97.5%;
				padding: 4vw;
			}
		}
	}
}
