html {
	font-family: 'Poppins', sans-serif;
}

/**Scrollbar**/
::-webkit-scrollbar {
	width: 1vh;
}

::-webkit-scrollbar-track {
	background: var(--theme2-100);
}

::-webkit-scrollbar-thumb {
	border-radius: 3vh;
	background: var(--theme1-100);
}

:root {
	/*? Heights */
	--navbar-height-pc: 9vh;
	--navbar-height-mob: 10vh;
	--footer-height-pc: 7vh;

	/*? Color Themes */
	--theme1-100: #8135f3;
	--theme1-050: rgba(129, 53, 243, 0.5);
	--theme2-100: #2c2f33;
	--theme3-100: #f8f8f8;
	--theme4-100: #3f3f3f;
}

body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background-color: var(--theme3-100);
	color: var(--theme2-100);
}

a {
	text-decoration: none;
	color: var(--theme2-100);
}

main {
	min-height: calc(100vh - var(--navbar-height-pc) - var(--footer-height-pc));
}

.bold {
	color: var(--theme1-100) !important;
	font-weight: bold;
}

::selection {
	color: var(--theme1-100);
	background-color: var(--theme2-100);
}
